<header>
  <div class="container">
    <h1>Get notified when we launch:</h1>

    <%= form_for(@email) do |f| %>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>

        <%= f.label :organization %><br />
        <%= f.text_field :organization %>

        <%= f.label :email %><br />
        <%= f.text_field :email %>

        <%= f.label "a representative of an educational company?" %>
        <%= f.check_box :is_company %>
        <%= f.label "an educator or potential traveler?"%>
        <%= f.check_box :is_teacher %>
        <%= f.label "none of the above?" %>
        <%= f.check_box :is_neither %>
        <%= f.label "Please do NOT send me newsletters or sign me up for the private beta of the next version of edtrips" %>
        <%= f.check_box :no_contact %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
  <% end %>
  </div>
</header>

<div class="nav">
  <nav>
    <ul>
      <li>About Us</li>
      <li>Home</li>
      <li>Sneak preview</li>
    </ul>
  </nav>
</div>

<section>
  <div class="row">
    <img alt="This is an image for about us">
    <p>This is info about us</p>
  </div>
</section>

<section>
  <div class="row">
    <img alt="This is an image of the app">
    <p>Here's how the explore feature works</p>
  </div>
</section>

<footer>
  <div>copyright and that nonsense</div>
</footer>
