
<%= form_for(@email) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>

    <%= f.label :organization %><br />
    <%= f.text_field :organization %>

    <%= f.label :email %><br />
    <%= f.text_field :email %>

    <div class="form-inline">
    <%= f.check_box :is_company %>
    <%= f.label "I am a representative of an educational company" %>
    </div>
    <div class="form-inline">
    <%= f.check_box :is_teacher %>
    <%= f.label "I am an educator or potential traveler"%>
    </div>
    <div class="form-inline">
    <%= f.check_box :no_contact %>
    <%= f.label "Please do not send me newsletters" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Sign up", :class => "btn btn-primary btn-custom-lighten" %>
  </div>
<% end %>
