<header>
  <div class="container">
    <img alt="edtrips logo">
    <h1>Teachers use edtrips.com to plan and manage group travel</h1>
    <button href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">Get notified when we launch</button>

    <h2>We love new friends and new experiences.</h2>
    <button class="btn btn-primary" data-target="#yourModal" role="button" data-toggle="modal">Contact us</button>
    <p>Or just email us at contact@edtrips.com</p>

    <div id="yourModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-remote="/contact">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="label2">Contact</h3>
      </div>
      <div class="modal-body">
          
      </div>
    </div>


    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Stay in touch</h3>
      </div>
      <div class="modal-body">
        <%= form_for(@email) do |f| %>
          <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name %>

            <%= f.label :organization %><br />
            <%= f.text_field :organization %>

            <%= f.label :email %><br />
            <%= f.text_field :email %>

            <%= f.label "a representative of an educational company?" %>
            <%= f.check_box :is_company %>
            <%= f.label "an educator or potential traveler?"%>
            <%= f.check_box :is_teacher %>
            <%= f.label "none of the above?" %>
            <%= f.check_box :is_neither %>
            <%= f.label "Please do NOT send me newsletters or sign me up for the private beta of the next version of edtrips" %>
            <%= f.check_box :no_contact %>
          </div>

          <div class="modal-footer">
            <div class="actions">
              <%= f.submit "Sign up", :class => "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</header>

<nav>
    <ul>
      <li>About Us</li>
      <li>Home</li>
      <li>Sneak preview</li>
    </ul>
</nav>

<section>
  <div class="row">
    <img alt="This is an image for about us">
    <p>This is info about us</p>
  </div>
</section>

<section>
  <div class="row">
    <img alt="This is an image of the app">
    <p>Here's how the explore feature works</p>
  </div>
</section>

<footer>
  <div>copyright and that nonsense</div>
</footer>
